@{
    ViewData["Title"] = "Confirmation Email";
}

<h2>@ViewData["Title"]</h2>
<h2>Confirmation Email Has Been Sent</h2>
<div>
    <p style="font-size:18px;">
        Thank You!<br />
        A Confirmation Email has Been Sent to Your Email.<br />
        Please Click on the Confirmation Link to Confirm Your Email Address.
    </p>
    <p>
        IMPORTANT NOTICE!<br />
        Your Confirmation Link will be available for 1 hour.<br />
        If you don't get the confirmation email please log in with your username and password and use the "Send Verification Code" button to send it again.
    </p>
</div>